<mat-card class="section1">
    <mat-card class="section1_section2">
      <p class="section1_section2_titulo">Atuação Profissional</p>
      <mat-card class="section1_section2_content">
        <mat-card class="section1_section2_content_atuacoes">        
          <p class="section1_section2_content_atuacoes_up">IBM Brasil - Indústria, Máquina e Serviços Ltda</p>
          <mat-card class="section1_section2_content_atuacoes_down">
            <p class="section1_section2_content_atuacoes_down_funcao">Aplication Developer - DevSecOps: 06/Set/2021 - atual</p>            
            <mat-list *ngFor="let item of atividadesIBM">
              <mat-list-item class="section1_section2_content_atuacoes_down_atividades"> {{item}} </mat-list-item>              
            </mat-list>
            <br><br>
            <p class="section1_section2_content_atuacoes_down_funcao">Early Associate - Estágio DevSecOps: 14/Dez/2020 - 05/Set/2021</p>            
          </mat-card>
        </mat-card>
        <mat-card class="section1_section2_content_atuacoes">        
          <p class="section1_section2_content_atuacoes_up">Agência MktNow</p>
          <mat-card class="section1_section2_content_atuacoes_down">
            <p class="section1_section2_content_atuacoes_down_funcao">Analista de BI Jr.</p>
            <mat-list *ngFor="let item of atividadesMktNow">
              <mat-list-item class="section1_section2_content_atuacoes_down_atividades"> {{item}} </mat-list-item>              
            </mat-list>
          </mat-card>
        </mat-card>
        <!-- <mat-card class="section1_section2_content_atuacoes">
          <p class="section1_section2_content_atuacoes_up">Delogic Soluções em Informática Ltda</p>
          <mat-card class="section1_section2_content_atuacoes_down">
            <p class="section1_section2_content_atuacoes_down_funcao">UNOPAR - Universidade Norte do Paraná</p>
            <mat-list *ngFor="let item of list">
              <mat-list-item class="section1_section2_content_atuacoes_down_atividades"> {{item}} </mat-list-item>              
            </mat-list>            
          </mat-card>
        </mat-card>
        <mat-card class="section1_section2_content_atuacoes">
            <p class="section1_section2_content_atuacoes_up">Prospectors Aerolevantamentos e Sistemas Sucursal Colombia </p>
            <mat-card class="section1_section2_content_atuacoes_down">
              <p class="section1_section2_content_atuacoes_down_funcao">UNOPAR - Universidade Norte do Paraná</p>
              <mat-list *ngFor="let item of list">
                <mat-list-item class="section1_section2_content_atuacoes_down_atividades"> {{item}} </mat-list-item>              
              </mat-list>
            </mat-card>
          </mat-card>
          <mat-card class="section1_section2_content_atuacoes">
            <p class="section1_section2_content_atuacoes_up">Prospectors Aerolevantamentos e Sistemas</p>
            <mat-card class="section1_section2_content_atuacoes_down">
              <p class="section1_section2_content_atuacoes_down_funcao">UNOPAR - Universidade Norte do Paraná</p>
              <mat-list *ngFor="let item of list">
                <mat-list-item class="section1_section2_content_atuacoes_down_atividades"> {{item}} </mat-list-item>              
              </mat-list>              
          </mat-card> -->
      </mat-card>
    </mat-card>
  </mat-card>
    
  
