<!-- <mat-card class="section1"> -->
    <mat-card class="section1_section2">
        <p class="section1_section2_titulo">Portifólio</p>
        <mat-card class="section1_section2_content">
          <mat-card class="section1_section2_content_formacoes">        
            <p class="section1_section2_content_formacoes_up">Repositório Github</p>
            <mat-card class="section1_section2_content_formacoes_down">
              <p class="section1_section2_content_formacoes_down_faculdade">UNESP - Universidade Estadual Paulista</p>
              <p class="section1_section2_content_formacoes_down_curso">Engenharia Cartográfica - 2001 a 2005</p>
              <br><br>
              <p class="section1_section2_content_formacoes_down_faculdade">CEUNSP - Centro Universitário Nossa Senhora do Patrocínio</p>
              <p class="section1_section2_content_formacoes_down_curso">Ciência da Computação - 2018 a 2021</p>
            </mat-card>
          </mat-card>
          <mat-card class="section1_section2_content_formacoes">        
            <p class="section1_section2_content_formacoes_up">Criação de logotipo - Software Inkscape</p>
            <mat-card class="section1_section2_content_formacoes_down">
              <mat-grid-list cols="2" rowHeight="2:1">
                <mat-grid-tile>
                  <img src="./assets/images/logoportifolio/deliciasestacao.png" class="rounded mx-auto d-block img-fluid">
                  <p>gagsdg</p>
                </mat-grid-tile>
                <mat-grid-tile><img src="./assets/images/logoportifolio/mangiarepasta.png" class="rounded mx-auto d-block img-fluid"></mat-grid-tile>
                <mat-grid-tile><img src="./assets/images/logoportifolio/sikadias.png" class="rounded mx-auto d-block img-fluid"></mat-grid-tile>
                <mat-grid-tile><img src="./assets/images/logoportifolio/souveran.png" class="rounded mx-auto d-block img-fluid"></mat-grid-tile>
              </mat-grid-list>            
            </mat-card>
          </mat-card>
          <mat-card class="section1_section2_content_formacoes">        
            <p class="section1_section2_content_formacoes_up">Criação de logotipo - Software Inkscape</p>
            <mat-card class="section1_section2_content_formacoes_down">
              tat
            </mat-card>
          </mat-card>          
        </mat-card>
        <br>
        <!-- <div class="float-sm-right"> -->
          <a id="aTopo" (click)="voltarTopo()">
              <img src="./assets/images/logo/AlvaroItuLogoTopo.png" class="rounded mx-auto d-block img-fluid" id="imgTopo">
          </a>      
        <!-- </div> -->
      </mat-card>
    <!-- </mat-card> -->
      
    