.section1{
    background-color: #C5CAE9;    
    height: 91.5%;

    &_section2{
        background-color: #9FA8DA;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            color: black;
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }

        &_content{
            display: flex;
            flex-direction: rox;

            &_left{
                width: 50%;
                font-size: 16px;            
                color: black;

                p{
                    color: black;
                    font-size: 18px;
                    line-height: 1.5;                    
                    font-family: 'Times New Roman', Times, serif;
                }
            }
            
            &_right{
                width: 50%;
                background-color: #3F51B5;

                img{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    height: 750px;
                }
            }
        }
    }
}


@media screen and (max-width: 420px) {
    .section1{
        background-color: #C5CAE9;    
        height: 91.5%;
    
        &_section2{
            background-color: #9FA8DA;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            &_content{
                display: flex;
                flex-direction: rox;
    
                &_left{
                    width: 50%;
                    font-size: 16px;            
                    color: black;
                }
                
                &_right{
                    width: 50%;
                    background-color: #3F51B5;
    
                    img{
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        height: 750px;
                    }
                }
            }
        }
    }
}