.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    height: auto;
    padding: 10px;
    background-color: #3F51B5;

    a {
        font-family: 'Times New Roman', Times, serif;        
        font-size: 28px;
        color: white;
    }

    .active{
        //color: #FFAB91;
        //background-color: #C5CAE9;
        border-color: white;
        border-radius: 5px;
        border-style: solid;
        padding: 5px;
        border-width: 1px;
        
    }
    

    &_image{
        height: 60px;
    }

    #button{        
        font-family: 'Times New Roman', Times, serif;        
        font-size: 28px;
        color: white;
        border: none;
        background-color: #3F51B5;
    }
}



@media screen and (max-width: 420px) {
    .header{
        display: none;

    }
    
}