<mat-toolbar color="accent" class="header mat-elevation-z8">
    <img class="header_image" src="../../assets/images/logo/AlvaroItuLogo.png">
    <!-- <button mat-raised-button [routerLink]="" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
        Quem sou
    </button>
    <button mat-raised-button [routerLink]="" routerLinkActive="router-link-active" [routerLinkActiveOptions]="{exact:true}">
        Formação
    </button> -->

    
    
    <a href="#quemsou">Quem Sou</a>
    <a href="#formacao">Formação</a>
    <a href="#profissional">Atuação Profissional</a>
    <a href="#academica">Atuação Acadêmica</a>
    <a href="#cienciacomputacao">Ciência da Computação</a>
    <a href="portifolio.html">Portifólio</a>
    <a href="cidadeitu.html">Conheça Itu</a>
    <a href="#" data-toggle="modal" data-target="#Modal">Contato</a> 
</mat-toolbar>