.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;    
    height: auto;
    padding: 10px;
    background-color: #3F51B5;

    a {
        font-family: 'Times New Roman', Times, serif;        
        font-size: 22px;
        color: white;
    }

    .active{
        color: #FFAB91;
        
    }
    

    &_image{
        height: 60px;
    }
}



@media screen and (max-width: 420px) {
    .header{
        display: none;

    }
    
}