<mat-toolbar color="accent" class="header mat-elevation-z8">
    <img class="header_image" src="./assets/images/logo/AlvaroItuLogo.png">
    <a routerLink='/' routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Quem Sou...</a>
    <a routerLink='/formacao' routerLinkActive="active">Formação</a>
    <a routerLink='/atuacaoProfissional' routerLinkActive="active">Atuação Profissional</a>
    <a routerLink='/atuacaoAcademica' routerLinkActive="active">Atuação Acadêmica</a>
    <a routerLink='/cienciaComputacao' routerLinkActive="active">Ciência da Computação</a>
    <!-- <a routerLink='/portifolio' routerLinkActive="active">Portifólio</a> -->
    <!-- <a routerLink='/conhecaItu' routerLinkActive="active">Conheça Itu</a>     -->
    <button id="button" (click)="openDialog()">Contato</button>
</mat-toolbar>