<mat-toolbar color="accent" class="header mat-elevation-z8">
    <img class="header_image" src="./assets/images/logo/AlvaroItuLogo.png">
    <a routerLink='/' routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Quem Sou...</a>
    <a routerLink='/formacao' routerLinkActive="active">Formação</a>
    <a routerLink='/.' routerLinkActive="active">Atuação Profissional</a>
    <a routerLink='/.' routerLinkActive="active">Atuação Acadêmica</a>
    <a routerLink='/.' routerLinkActive="active">Ciência da Computação</a>
    <a routerLink='/.' routerLinkActive="active">Portifólio</a>
    <a routerLink='/.' routerLinkActive="active">Conheça Itu</a>
    <a href="#" data-toggle="modal" data-target="#Modal">Contato</a> 
</mat-toolbar>