<mat-card class="section1">
  <button type="button" class="section1_button"  (click)="closeDialog()">X</button>
  <div class="section1_titulo">
  <p>Contato</p>       
  </div>
  <mat-card class="section1_section2">
    <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">        
        <a id="aLinkedin" href="https://www.linkedin.com/in/alvaro-augusto-pereira"
        target="_blank">
          <div>
            <img src="./assets/images/RedesSociais/linkedin.png">
            <p>linkedin.com/alvaro-augusto-pereira</p>          
          </div>          
        </a>
      </mat-card>
      <mat-card class="section1_section2_section3_icones">
        <a href="https://github.com/alvaroitu"
        target="_blank">
          <div>
            <img src="./assets/images/RedesSociais/github.png">
            <p>github.com/alvaroitu</p>
          </div>
        </a>
      </mat-card>
    </div>
    <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">
        <a href="https://www.instagram.com/ituoficial/"
        target="_blank">
          <div>
            <img src="./assets/images/RedesSociais/instagram.png">
            <p>instagram.com/ituoficial</p>
          </div>
        </a>
      </mat-card>
      <mat-card class="section1_section2_section3_icones">
        <a id="aYoutube" href="https://www.youtube.com/@alvaroitu"
        target="_blank">
          <div>
            <img src="./assets/images/RedesSociais/youtube.png">
            <p>em desenvolvimento</p>
          </div>
        </a>          
      </mat-card>
    </div>
    <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">
        <a href="https://www.facebook.com/ituoficial"
        target="_blank">
          <div>
            <img src="./assets/images/RedesSociais/facebook.png">
            <p>facebook.com/ituoficial</p>
          </div>
        </a>
      </mat-card>    
      <mat-card class="section1_section2_section3_icones">
        <a href="https://twitter.com/ituoficial"
        target="_blank">
          <div>
            <img src="./assets/images/RedesSociais/twitter.png">
            <p>twitter.com/ituoficial</p>
          </div>
        </a>
      </mat-card>
    </div>
    <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">
        <a href="mailto:contato@alvaroitu.com">
          <div>
            <img src="./assets/images/logo/AlvaroItuChapeu.png">
            <p id="emailContato">contato@alvaroitu.com</p>
          </div>
        </a>
      </mat-card>
    </div>
  </mat-card>    
</mat-card>
