.section1{
    background-color: #9FA8DA;
    text-align: right;

    &_button{
        border: none;
        color: white;
        font-weight: bold; 
        background-color: #9FA8DA               
    }    

    &_titulo{        
        width: 100%;            
        font-size: 28px;            
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        margin-top: 3px;
        text-align: center;        
    }

    &_section2{
        background-color: #C5CAE9;
        display: flex;
        flex-direction: column;

        &_section3{
            display: flex;            
            justify-content: space-around;

            &_icones{
                background-color: #3F51B5;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 40%;
                text-align: left;

                img{
                    width: 30px;
                    height: 30px;
                    margin-right: 10px;
                }

                a{
                    color: white;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 20px;                    
                }
                
            }
            
        }        
    }

    #aLinkedin{
        font-size: 18px;
    }

    #aYoutube{
        color: black;
    }

    #aYoutube:hover{
        cursor: not-allowed;
    }
}


@media screen and (max-width: 900px) {
    .section1{
        background-color: #9FA8DA;
        text-align: right;
    
        &_button{
            border: none;
            color: white;
            font-weight: bold; 
            background-color: #9FA8DA               
        }    
    
        &_titulo{        
            width: 100%;            
            font-size: 28px;            
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
            margin-top: 3px;
            text-align: center;        
        }
    
        &_section2{
            background-color: #C5CAE9;
            display: flex;
            flex-direction: column;
    
            &_section3{
                display: flex;            
                justify-content: space-around;
                flex-direction: column;
    
                &_icones{
                    background-color: #3F51B5;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    width: 100%;
                    text-align: center;
    
                    img{
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;                         
                        
                    }
    
                    a{
                        color: white;
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 20px; 
                                          
                    }
                    
                }
                
            }        
        }
    
        #aLinkedin{
            font-size: 18px;
        }
    
        #aYoutube{
            color: black;
        }
    
        #aYoutube:hover{
            cursor: not-allowed;
        }
    }
}

::ng-deep .mat-dialog-container{
    background-color: #C5CAE9;
}