<mat-card class="section1">
  <button type="button" class="section1_button"  (click)="closeDialog()">X</button>
  <div class="section1_titulo">
    <p>Contato</p>       
  </div>
  <mat-card class="section1_section2">
    <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">
        <img src="./assets/images/RedesSociais/linkedin.png">
        <a id="aLinkedin" href="https://www.linkedin.com/in/alvaro-augusto-pereira"
        target="_blank">linkedin.com/alvaro-augusto-pereira</a>
      </mat-card>
      <mat-card class="section1_section2_section3_icones">
        <img src="./assets/images/RedesSociais/github.png">
        <a href="https://github.com/alvaroitu"
        target="_blank">github.com/alvaroitu</a>
      </mat-card>
    </div>
    <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">
        <img src="./assets/images/RedesSociais/instagram.png">
        <a href="https://www.instagram.com/ituoficial/"
        target="_blank">instagram.com/ituoficial</a>
      </mat-card>
      <mat-card class="section1_section2_section3_icones">
        <img src="./assets/images/RedesSociais/youtube.png">
        <a id="aYoutube" href="https://www.youtube.com/user/alvaroitu1"
          target="_blank"> em desenvolvimento</a>        
      </mat-card>
      </div>
      <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">
        <img src="./assets/images/RedesSociais/facebook.png">
        <a href="https://www.facebook.com/ituoficial"
        target="_blank">facebook.com/ituoficial</a>
      </mat-card>    
      <mat-card class="section1_section2_section3_icones">
        <img src="./assets/images/RedesSociais/twitter.png">
        <a href="https://twitter.com/ituoficial"
        target="_blank">twitter.com/ituoficial</a>
      </mat-card>
    </div>
    <div class="section1_section2_section3">
      <mat-card class="section1_section2_section3_icones">
        <img src="./assets/images/logo/AlvaroItuChapeu.png">
        <a href="mailto:contato@alvaroitu.com">contato@alvaroitu.com</a>
      </mat-card>
    </div>
  </mat-card>    
</mat-card>
