<!-- <mat-card class="section1"> -->
    <mat-card class="section1_section2">
      <!-- <p class="section1_section2_titulo">Quem Sou...</p>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> 
      <mat-card class="section1_section2_content">
        <mat-card class="section1_section2_content_left">
            <mat-card class="col col-2" style="margin-top: 10px; margin-bottom: 10px;">
                <img src="./assets/images/logo/AlvaroItuChapeu.png" style="width: 35px; height: 30px;" >
                <a href="mailto:contato@alvaroitu.com" style="color: white;">contato@alvaroitu.com</a>
            </mat-card>
            <mat-card class="col col-2" style="margin-top: 10px; margin-bottom: 10px;">
              <img src="./assets/images/RedesSociais/github.png" style="width: 25px; height: 25px;" >
            
            
              <a href="https://github.com/alvaroitu"
                target="_blank"
                style="color: white;">github.com/alvaroitu</a>
            </mat-card>  
            <mat-card class="col col-2" style="margin-top: 10px; margin-bottom: 10px;">
              <img src="./assets/images/RedesSociais/instagram.png" style="width: 25px; height: 25px;" >
          
          
              <a href="https://www.instagram.com/ituoficial/"
                target="_blank"
                style="color: white;">instagram.com/ituoficial</a>
            </mat-card>      
                
        </mat-card>

        <mat-card class="col col-2" style="margin-top: 10px; margin-bottom: 10px;">
          <img src="./assets/images/RedesSociais/twitter.png" style="width: 25px; height: 25px;" >
      
      
          <a href="https://twitter.com/ituoficial"
            target="_blank"
            style="color: white;">twitter.com/ituoficial</a>
        </mat-card>



        <mat-card class="section1_section2_content_right">
            <mat-card class="col col-2" style="margin-top: 10px; margin-bottom: 10px;">
                <img src="./assets/images/RedesSociais/linkedin.png" style="width: 25px; height: 25px;" >
            
            
              <a href="https://www.linkedin.com/in/alvaro-augusto-pereira"
                target="_blank"
                style="color: white;">linkedin.com/alvaro-augusto-pereira</a>
            </mat-card>
            <mat-card class="col col-2" style="margin-top: 10px; margin-bottom: 10px;">
              <img src="./assets/images/RedesSociais/youtube.png" style="width: 25px; height: 25px;" >
            
            
              <a id="aYoutube" href="https://www.youtube.com/user/alvaroitu1/featured"
                target="_blank">Em Desenvolvimento</a>
            
          </mat-card>
          <mat-card class="col col-2" style="margin-top: 10px; margin-bottom: 10px;">
            <img src="./assets/images/RedesSociais/facebook.png" style="width: 25px; height: 25px;" >
        
        
            <a href="https://www.facebook.com/ituoficial"
              target="_blank"
              style="color: white;">facebook.com/ituoficial</a>
          </mat-card>
          
        </mat-card>
      </mat-card> -->
    </mat-card>
  <!-- </mat-card> -->
