<!-- <mat-card class="section1"> -->
  <mat-card class="section1_section2">
    <p class="section1_section2_titulo">Ciência da Computação</p>
    <mat-card class="section1_section2_content">
      <mat-card class="section1_section2_content_text">
        <p class="text-justify">
          &nbsp;&nbsp; Desde de adolescente eu tive contato com computadores
          pessoais, meu primeiro contato foi no MS-DOS, a boa e velha tela preta
          que hoje assusta muita gente. E sim, fui capaz de escrever o comando
          format c: - ainda bem que meu pai não tinha muitos arquivos
          importantes naquele momento, kkk. Eu gostava bastante disso mas nunca
          me aprofundei, porém o contato que tive foi o suficiente para me
          desperar o interesse de trabalhar nesse ramo.
        </p>
        <p class="text-justify">
          &nbsp;&nbsp; Pensei então em seguir essa área, como não era possível
          pagar uma faculdade particular e eu não entrei em uma pública, acabei
          entrando em outro curso com a intenção de pedir transferência para o
          curso de computação um ano depois, eu acabei gostando do curso de
          Engenharia Cartográfica e resolvi continuar nele até o fim, o que me
          levou posteriormente ao mestrado em Geofísica, mas sem nunca me
          esquecer da vontade de me dedicar a programação. Os anos foram
          passando e a função que eu exercia na Geofísica sempre me fez viajar
          muito, não sendo possível fazer faculdade como eu desejava.
        </p>
        <p class="text-justify">
          &nbsp;&nbsp; Depois do último projeto que participei na Geofísica, eu
          acabei voltando para Itu/SP e resolvi iniciar o curso de Ciência da
          Computação para que eu possa trabalhar na área de TI propriamente dita
          ou até mesmo continuar na área de Geofísica, pois essa área possui
          muita demanda para programadores.
        </p>
        <p class="text-justify">
          &nbsp;&nbsp; Em relação a programação, tive meu primeiro contato com
          uma linguagem de programação em 2001 durante o curso de cartografia, a
          linguagem em questão foi linguagem C, depois disso, bem antes de
          entrar para Ciência da Computação, conheci C++ (cartografia), Fortran
          (mestrado), trabalhei com MatLab (mestrado) e na Geofísica, o software
          utilizado nos permitia criar scripts (algoritmos) para automatizar os
          processos. Nesse momento que criei um desses scripts que deixou a
          tarefa de processamento de dados, pelo menos, 1 hora mais rápida.
        </p>
        <p class="text-justify">
          &nbsp;&nbsp; Hoje confesso que ainda estou na fase de experimentação,
          não sei se já devia ter me decidido, afinal estou no terceiro ano, mas
          o fato que ainda não me decidi por completo a qual
          ramo/linguagem/framework/biblioteca devo me dedicar. O que me chama
          bastante atenção é desenvolvimento e segurança da informação. Apesar
          de não estar totalmente decidido, tenho me dedicado ao estudo da
          linguagem Java e todo ecosistema que a cerca, sem deixar de lado o
          estudo de algoritmos, estrutura de dados e também sem me fechar para
          outras linguagens. Creio que experimentar diferentes linguagens além
          de estudar sobre segurança da informação podem me trazer bons
          resultados futuramente.
        </p>
        <p class="text-justify">
          &nbsp;&nbsp; Participo de uma bolsa de iniciação científica onde estou
          estudando a LGPD e como isso interfere na segurança da informação,
          anteriormente estudei as certificações voltadas para segurança da
          informação. Sobre desenvolvimento (algoritmos, estrutura de dados),
          tenho um projeto em construção que é a criação de um site para
          fornecer algoritmos resolvidos, onde os alunos poderão em um futuro
          não muito distante acessar, procurar o algoritmo que deseja e fazer a
          cópia, facilitando o aprendizado. A princípio pode parecer mais do
          mesmo, porém a ideia aqui é criar uma plataforma, bem organizada de
          todo e qualquer tipo de algoritmo, onde o aluno possa encontrar
          facilmente o que deseja. A plataforma será desenvolvida em Html, Css,
          PHP, MySql, e pretendo disponibilizar os algoritmos em diferenstes
          linguagens, como PHP, Java, C e Python. Segue o link
          <a target="blank" id="aBar" href="http://algoritmosresolvidos.com.br/"
            >(algoritmosresolvidos.com.br).</a
          >
        </p>
      </mat-card>
    </mat-card>
    <br>
    <!-- <div class="float-sm-right"> -->
      <a id="aTopo" (click)="voltarTopo()">
          <img src="./assets/images/logo/AlvaroItuLogoTopo.png" class="rounded mx-auto d-block img-fluid" id="imgTopo">
      </a>      
    <!-- </div> -->
  </mat-card>
<!-- </mat-card> -->
