<!-- <mat-card class="section1"> -->
    <mat-card class="section1_section2">
        <p class="section1_section2_titulo">Ciência da Computação</p>
        <mat-card class="section1_section2_content">
            <mat-card class="section1_section2_content_text">        
                <p class="text-justify">
                    &nbsp;&nbsp; Desde de adolescente eu tive contato com computadores pessoais, meu primeiro contato foi no MS-DOS, a boa e velha
                    tela preta que hoje assusta muita gente. E sim, fui capaz de escrever o comando format c: - para quem não sabe, esse comando simplesmente formatava a máquina
                     - ainda bem que meu pai não tinha muitos arquivos importantes naquele momento, kkk. Eu gostava bastante disso mas nunca me aprofundei, porém o contato que 
                     tive foi o suficiente para me despertar o interesse de trabalhar nesse ramo.
                  </p>
                  <p class="text-justify">
                    &nbsp;&nbsp; Pensei então em seguir essa área, como não era possível pagar uma faculdade particular e eu não entrei em uma pública,
                    acabei entrando em outro curso com a intenção de pedir transferência para o curso de computação um ano depois, porém acabei gostando do curso de Engenharia
                    Cartográfica e resolvi continuar nele até o fim, o que me levou posteriormente ao mestrado em Geofísica, masa vontade de me dedicar
                    a programação nunca foi esquecida. Os anos foram passando e a função que eu exercia na Geofísica sempre me fez viajar muito, não sendo possível fazer
                    faculdade como eu desejava.
                  </p>
                  <p class="text-justify">
                    &nbsp;&nbsp; Depois do último projeto que participei na Geofísica, eu acabei voltando para Itu/SP e resolvi iniciar o curso de Ciência
                    da Computação para que fosse possível trabalhar na área de TI propriamente dita ou até mesmo continuar na área de Geofísica, pois essa área
                    possui muita demanda para programadores.
                  </p>
                  <p class="text-justify">
                    &nbsp;&nbsp; Em relação a programação, tive meu primeiro contato com uma linguagem de programação em 2001 durante o curso de cartografia,
                    a linguagem em questão foi linguagem C, depois disso, bem antes de entrar para Ciência da Computação, conheci C++ (cartografia), Fortran (mestrado),
                    trabalhei com MatLab (mestrado) e na Geofísica, o software utilizado nos permitia criar scripts (algoritmos) para automatizar os processos.
                    Nesse momento que criei um desses scripts que deixou a tarefa de processamento de dados, pelo menos, 1 hora mais rápida.
                  </p>                  
                  <p class="text-justify">
                    &nbsp;&nbsp; Durante o curso de Ciência da Computação fui bolsista de iniciação científica, tendo a possibiliade de trabalhar em alguns projetos. Primeiramente
                    fiz a versão web de um software sobre o Estudo de Aprendizagem, em que desenvolvi em Html, css, PHP, Javascript e MySql. Deposi desenvolvi um estudo
                    sobre as certificações na área de Segurança da Informação, seguindo na área de segurança, pesquisei sobre a LGPD e como isso interfere na segurança da informação, 
                    e por fim, desenvolvi um sistema de gerenciamento das bolsas de pesquisa do Ceunsp, nesse projeto eu utilizei Html, css, Javascript, Angular, Java, Spring e H2DataBase.
                  <p class="text-justify">
                    &nbsp;&nbsp; Tenho um projeto pessoal que é criar uma plataforma, bem organizada, com diversos algoritmos em diversas linguagens, onde o usuário possa encontrar 
                    facilmente o algoritmo que deseja. A plataforma seria uma grande coleção de algoritmos resolvidos para facilitar o dia a dia dos alunos. A plataforma será 
                    desenvolvida em Angular e pretendo disponibilizar, no primeiro momento, algoritmos em diferenstes linguagens, como Java, C, Python, Javascript entre outras. 
                    Segue o link dos <a id="aBar" target="_blank" href="http://algoritmosresolvidos.com.br/"> Algoritmos Resolvidos.</a>.
                  </p>
                  <p class="text-justify">
                    &nbsp;&nbsp; No momento estou trabalhando como desenvolvedor full-stack sendo back-end em Java/Spring e front-end com Angular. Desejo me aprofundar nessas stacks
                    além de estudar computação em nuvem (sou certificado Azure Fundamentals), e futuramente conhecer mais sobre Segurança da Informação.
                  </p>         
            </mat-card>        
        </mat-card>
    </mat-card>
    <div id="botaoVoltarTopo" class="float-sm-right">
      <div class="row justify-content-center">
        <div class="col-sm" (click)="voltarTopo()">        
            <img src="./assets/images/logo/AlvaroItuLogoTopo.png" class="rounded mx-auto d-block img-fluid" id="imgTopo">      
        </div>
      </div>
    </div>  
<!-- </mat-card> -->
