<mat-toolbar color="primary" class="menu mat-elevation-z8">
  <div [matMenuTriggerFor]="menu">
    <img class="header_image" src="./assets/images/logo/AlvaroItuLogo.png">
    <p>Menu</p>
  </div>    
  <mat-menu #menu="matMenu">      
    <a mat-menu-item routerLink='/' routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Quem Sou...</a>
    <a mat-menu-item routerLink='/formacao' routerLinkActive="active">Formação</a>
    <a mat-menu-item routerLink='/atuacaoProfissional' routerLinkActive="active">Atuação Profissional</a>
    <a mat-menu-item routerLink='/atuacaoAcademica' routerLinkActive="active">Atuação Acadêmica</a>
    <a mat-menu-item routerLink='/cienciaComputacao' routerLinkActive="active">Ciência da Computação</a>
    <a mat-menu-item routerLink='/portifolio' routerLinkActive="active">Portifólio</a>
    <a mat-menu-item routerLink='/conhecaItu' routerLinkActive="active">Conheça Itu</a>    
    <button mat-menu-item id="button" (click)="openDialog()">Contato</button>

  </mat-menu>
</mat-toolbar>
