<mat-toolbar color="primary" class="menu mat-elevation-z8">
  <div [matMenuTriggerFor]="menu">
    <img  style="height: 40px;" 
    class="header_image" 
    src="./assets/images/logo/AlvaroItuLogo.png">
  <p>Menu</p>
  </div>    
  <mat-menu #menu="matMenu">      
    <a mat-menu-item routerLink='/' routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">Quem Sou...</a>
    <a mat-menu-item routerLink='/formacao' routerLinkActive="active">Formação</a>
  </mat-menu>
</mat-toolbar>
