<mat-card class="section1">
    <mat-card class="section1_section2">
      <p class="section1_section2_titulo">Atuação Acadêmica</p>
      <mat-card class="section1_section2_content">
        <mat-card class="section1_section2_content_atuacoes">        
          <p class="section1_section2_content_atuacoes_up">CEUNSP - Centro Universitário Nossa Senhora do Patrocínio - Bolsa PIBIC</p>
          <mat-card class="section1_section2_content_atuacoes_down">
            <p class="section1_section2_content_atuacoes_down_funcao">Iniciação Científica</p>            
            <p class="section1_section2_content_atuacoes_down_funcao">Software para gerenciar as bolsas de pesquisa da Ceunsp: 01/Ago/2021 - 30/Nov/2021</p>            
            <div *ngFor="let item of atividadesCeunsp2121">
              <p class="section1_section2_content_atuacoes_down_atividades"> {{item}} </p>              
            </div>
            <br>
            <p class="section1_section2_content_atuacoes_down_funcao">Influência da LGPD na Segurança da Informação em relação aos ataques cibernéticos: 01/Ago/2020 - 31/Jul/2021</p>            
            <div *ngFor="let item of atividadesCeunsp2021">
              <p class="section1_section2_content_atuacoes_down_atividades"> {{item}} </p>              
            </div>
            <br>
            <p class="section1_section2_content_atuacoes_down_funcao">Certificações em Segurança da Informação para profissionais de TI: 01/Ago/2019 - 31/Jul/2020</p>            
            <div *ngFor="let item of atividadesCeunsp1920">
              <p class="section1_section2_content_atuacoes_down_atividades"> {{item}} </p>              
            </div>
            <br>
            <p class="section1_section2_content_atuacoes_down_funcao">Versão Web de um Software sobre Estudo de Aprendizagem: 01/Ago/2018 - 31/Jul/2029</p>            
            <div *ngFor="let item of atividadesCeunsp1819">
              <p class="section1_section2_content_atuacoes_down_atividades"> {{item}} </p>              
            </div>
          </mat-card>
        </mat-card>
        <mat-card class="section1_section2_content_atuacoes">        
          <p class="section1_section2_content_atuacoes_up">USP - Universidade de São Paulo - Bolsa CNPQ</p>
          <mat-card class="section1_section2_content_atuacoes_down">
            <p class="section1_section2_content_atuacoes_down_funcao">Mestrado em Geofísica: Mar/2006 - Mar/2008</p>
            <div *ngFor="let item of atividadesUSP">
              <p class="section1_section2_content_atuacoes_down_atividades"> {{item}} </p>              
            </div>
          </mat-card>
        </mat-card>
        <mat-card class="section1_section2_content_atuacoes">
          <p class="section1_section2_content_atuacoes_up">UNESP - Universaido Estadual Paulista - Bolsa FAPESP</p>
          <mat-card class="section1_section2_content_atuacoes_down">
            <p class="section1_section2_content_atuacoes_down_funcao">Iniciação Científica: JuL/2003 - Jun/2005</p>
            <div *ngFor="let item of atividadesUNESP">
              <p class="section1_section2_content_atuacoes_down_atividades"> {{item}} </p>              
            </div>            
          </mat-card>
        </mat-card>        
      </mat-card>
    </mat-card>
  </mat-card>
    
  
