<!-- <mat-card class="section1"> -->
  <mat-card class="section1_section2">
    <p class="section1_section2_titulo">Formação</p>
    <mat-card class="section1_section2_content">
      <mat-card class="section1_section2_content_formacoes">        
        <p class="section1_section2_content_formacoes_up">Bacharelado</p>
        <mat-card class="section1_section2_content_formacoes_down">
          <p class="section1_section2_content_formacoes_down_faculdade">UNESP - Universidade Estadual Paulista</p>
          <p class="section1_section2_content_formacoes_down_curso">Engenharia Cartográfica - 2001 a 2005</p>
          <br><br>
          <p class="section1_section2_content_formacoes_down_faculdade">CEUNSP - Centro Universitário Nossa Senhora do Patrocínio</p>
          <p class="section1_section2_content_formacoes_down_curso">Ciência da Computação - 2018 a 2021</p>
        </mat-card>
      </mat-card>
      <mat-card class="section1_section2_content_formacoes">        
        <p class="section1_section2_content_formacoes_up">Mestrado</p>
        <mat-card class="section1_section2_content_formacoes_down">
          <p class="section1_section2_content_formacoes_down_faculdade">USP - Universidade de São Paulo</p>
          <p class="section1_section2_content_formacoes_down_curso">Geofísica - 2006 a 2008</p>            
        </mat-card>
      </mat-card>
      <mat-card class="section1_section2_content_formacoes">
        <p class="section1_section2_content_formacoes_up">Especialização</p>
        <mat-card class="section1_section2_content_formacoes_down">
          <p class="section1_section2_content_formacoes_down_faculdade">UNOPAR - Universidade Norte do Paraná</p>
          <p class="section1_section2_content_formacoes_down_curso">Docência do Ensino Superior - 2018 a 2019</p>
          <br><br>
          <p class="section1_section2_content_formacoes_down_faculdade">UNOPAR - Universidade Norte do Paraná</p>
          <p class="section1_section2_content_formacoes_down_curso">MBA em Gestão de TI - 2019 a 2020</p>
        </mat-card>
      </mat-card>
    </mat-card>
  </mat-card>
  <div id="botaoVoltarTopo" class="float-sm-right">
    <div class="row justify-content-center">
      <div class="col-sm" (click)="voltarTopo()">        
          <img src="./assets/images/logo/AlvaroItuLogoTopo.png" class="rounded mx-auto d-block img-fluid" id="imgTopo">      
      </div>
    </div>
  </div>  
<!-- </mat-card> -->
  
