<!-- <mat-card class="section1"> -->
<mat-card class="section1_section2">
  <p class="section1_section2_titulo">Conheça Itu</p>
  <a id="linkPrefeitura" target="_blank" href="https://itu.sp.gov.br/"
    >(Fonte: Prefeitura de Itu/SP)</a
  >
  <mat-card class="section1_section2_content">
    <mat-card class="section1_section2_content_text">
      <h2>
        Conheça um pouco da HISTÓRIA de Itu no texto abaixo e explore o turismo
        em Itu no link a seguir: 
        <a id="aturismo" target="_blank" href="https://turismo.itu.sp.gov.br/"
          >(Turismo em Itu).</a
        >
      </h2>
      <p class="text-justify">
        &nbsp;&nbsp; O marco da fundação da cidade de Itu foi à construção, em
        1610, de uma capela devotada a Nossa Senhora da Candelária, no lugar em
        que hoje fica a Igreja do Bom Jesus. Esta capela foi construída por
        Domingos Fernandes e seu genro, Cristóvão Diniz. Eles receberam por
        sesmaria em 1604, a posse das terras dos campos do Pirapitingui. Em 02
        de Fevereiro adotou-se o dia com data de aniversário de Itu, por
        coincidir com o dia de Nossa Senhora da Candelária.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; O povoado se formou em torno desta capela. No ano de 1653
        foi elevada a Freguesia de Santana do Parnaíba. Em 1657, passou à
        condição de Vila com direito a possuir uma Câmara Municipal,
        iniciando-se assim a construção de um novo templo. Durante quase 100
        anos (de 1657 a 1750) a Vila de Itu não passou de um pequeno núcleo, com
        menos de 100 casas, concentradas no pátio da antiga Matriz e numa única
        rua que ia do pátio até a capelinha do primeiro povoado. Uma boa parte
        das casas, as do pátio, sobretudo, pertencia a fazendeiros. Quando
        aumentou a escravatura e a produção das fazendas, seus donos ajudaram a
        erguer dois conventos na Vila, o de São Francisco (1692) e o do Carmo
        (1719).
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Os comerciantes ergueram, em 1726, uma capela, num lugar
        ainda descampado, a de Santa Rita, inaugurada em 1728.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Em 1760, já existiam cerca de 105 casas e mais uma rua,
        chamada da Palma (atual Rua dos Andradas). Nessa época, Itu se firma
        como entreposto de comércio na rota entre o sul do país e as regiões
        mineradoras de Mato Grosso e Goiás. Na Vila, a maioria das casas, eram
        pequenas e habitadas por gente que pouco ou nada possuía.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Alguns anos depois, em 1776, com o crescimento das lavouras
        da cana de açúcar e do algodão a Vila cresceu contando com 180 casas,
        tendo ainda as mesmas ruas de antes. Quem deu vida à localidade foram os
        artesãos (sapateiros, ferreiros, carpinteiros, tecelões, costureiras e
        fiandeiras), os quais ocupavam 119 casas. Os comerciantes interessados
        na venda de tecido, colchas e cobertores para outras regiões, promoveram
        o cultivo de algodão, e a produção caseira de tecidos.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; A partir de 1777, a Vila de Itu cresceu em função dos
        negócios de exportação de açúcar para a Europa. O número de engenhos de
        cana e de escravos, vindos da África se multiplicaram.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; De 1785 a 1792, foram abertas as ruas que descem paralelas,
        pelas encostas do espigão, e seus prolongamentos pelo lado da Igreja do
        Patrocínio inaugurada em 1819.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Em 1811, foi criada a Comarca de Itu.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Pela Lei Provincial de 05 de fevereiro de 1842, a Vila de
        Itu foi elevada à cidade. Nessa ocasião, possuía umas 800 casas.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; A partir de 1850 e durante anos, Itu foi considerada a
        cidade mais rica da Província de São Paulo, com importante participação
        na vida política e econômica.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Em 1860, ocorreu uma grande crise no mercado internacional
        do açúcar. O plantio da cana entrou em decadência, causando, com o
        tempo, um conflito entre os políticos e os fazendeiros ituanos contra o
        Governo Imperial. Cresceu em Itu o Movimento Republicano que resultou,
        em 1873, na realização da Primeira Convenção Republicana do país. Início
        da propaganda republicana, com a criação do Partido Republicano
        Paulista. Por isso mesmo, Itu é chamada de “Berço da República”.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; O açúcar veio sendo gradativamente substituído pelo café.
        Com o aumento da produção cafeeira, os fazendeiros buscaram, na Europa,
        a vinda de imigrantes para substituir a mão de obra escrava. O tráfico
        havia sido proibido em 1850 e, a escravatura, abolida em 1888.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Com a ajuda do governo republicano, proclamado em 1889
        vieram para Itu milhares de imigrantes a maioria italianos. A cidade
        possuía, nesta época, cerca de 1800 casas. O café foi à base da economia
        do município até 1935, ano da maior produção, decaindo depois, pela
        concorrência de outras áreas de plantio e pelo esgotamento de suas
        terras.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; De 1935 a 1950, Itu quase não cresceu além da área já
        ocupada. A partir de 1950 novas indústrias vem se instalando na cidade,
        principalmente as de cerâmicas. Ocorreu grande migração rural em busca
        de trabalhos nas fábricas. A cidade começou novamente a crescer com a
        abertura de diversos loteamentos na periferia. Itu já não tinha a mesma
        importância de antigamente, sendo influenciada pela Capital do Estado,
        já então uma metrópole. O velho centro é a maior e mais importante
        herança cultural dos tempos da colônia, passou a ser transformado em
        centro histórico e área comercial.
      </p>
      <p class="text-justify">
        &nbsp;&nbsp; Após 1970, com a construção da rodovia Castelo Branco,
        novas indústrias instalaram-se em Itu, principalmente às margens de suas
        estradas de acesso. Nesta mesma época, se intensifica a fama de Itu como
        a “Cidade dos Exageros”, graças ao humorista Francisco Flaviano de
        Almeida, mais conhecido como “Simplício”, que participava de um programa
        televisivo chamado de “Praça da Alegria”, interpretando o caipira
        Osório, contava vantagens sobre sua terra natal, tudo de forma
        exagerada, esta brincadeira acabou intensificado o fluxo de turistas na
        cidade, que procuravam conhecer os objetos gigantes. Em 1979, Itu se
        torna a terceira estância turística do estado de São Paulo, fomentando
        ainda mais esta atividade no município com a vinda de recursos do
        governo do estado.
      </p>
    </mat-card>
  </mat-card>  
</mat-card>
<div id="botaoVoltarTopo" class="float-sm-right">
  <div class="row justify-content-center">
    <div class="col-sm" (click)="voltarTopo()">        
        <img src="../assets/images/logo/AlvaroItuLogoTopo.png" class="rounded mx-auto d-block img-fluid" id="imgTopo">      
    </div>
  </div>
</div>  

<!-- </mat-card> -->
